* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-1 {
  width: 40%;
  background-color: #ffc533;
  height: 80vh;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.heading-card {
  background-color: #ffbf1f;
  padding: 20px;
}
.heading1 {
  color: #334155;
  font-size: 25px;
  line-height: 30px;
}
.img-card {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.img {
  width: 100%;
}
.card-2 {
  background-color: #0f172a;
  width: 40%;
  height: 80vh;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
